@font-face {
    font-family: 'Bebas_Neue';
    src: url('../Fuentes/Bebas_Neue/BebasNeue-Regular.ttf');
}

@font-face{
    font-family: 'Orbitron';
    src: url('../Fuentes/Orbitron/Orbitron-Regular.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600%;
    overflow: hidden;
    z-index: -3;
    overflow: hidden;
}

section{
    padding-top: 50px;
}

nav{
    background-color: black;
    width: 100%;
}


.navigation-wrap {
    max-width: 100%; /* Evita que el header sea más pequeño que la pantalla */
}

#menu {
    justify-content: center;
    text-align: center;
    width: 100%; /* Asegura que el menú se mantenga al 100% de la pantalla */
}

a{
    font-family: 'Bebas_Neue';
}

li:hover{
    background-color: #000b2e;
    border-radius: 30px;
    transition: 0.5s;
}

#menu{
    justify-content: center;
    text-align: center;
}

video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1;
}


.contenido-mi{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px;
}

#mi h2{
    padding-top: 50px;
    font-family: 'Bebas_Neue';
    color: skyblue;
    text-align: center;
}


.sobre-mi{
    padding-top: 50px;
    color: skyblue;
    font-family: 'Orbitron';
    font-size: 20px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
}

.foto{
    position: relative;
    top: 25px;
    border-radius:15px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 5px solid #000b2e;
    box-shadow: 0px 0px 10px skyblue;
    display: block;
    margin: auto;
}

.Saludo{
    padding-top: 50px;
    font-family: 'Bebas_Neue';
    color: skyblue;
    text-align: center;
    text-shadow: 0px 0px 10px skyblue;
}

.education-card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.education-card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}

.education-card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}

.education-card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.education-card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgb(0, 0, 0, .4);
    text-align: center;
    font-family: 'Bebas_Neue';
}

.education-card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px black;
}

.education-card .back h3{
    font-family: 'Bebas_Neue';
}

.education-card .back span{
    font-weight: bolder;
    font-family: 'Orbitron';
}

.education-card .back p{
    font-family: 'Orbitron';
}

.education-card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.education-card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

#profesional p{
    font-family: 'Orbitron';
}

.work-card{
    position: relative;
    width: 350px;
    height: 400px;
    margin: 20px;
}

.work-card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}

.work-card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}

.work-card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work-card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgb(0, 0, 0, .4);
    text-align: center;
    font-family: 'Bebas_Neue';
}

.work-card .back h3{
    font-family: 'Bebas_Neue';
}

.work-card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px black;
}

.work-card .back span{
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Orbitron';
}
.work-card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.work-card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

#profesional h2{
    padding-top: 50px;
    font-family: 'Bebas_Neue';
    color: skyblue;
    text-align: center;
}

.contenido-profesional{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px;
}

.contenido-profesional h2{
    text-align: center; 
    margin-bottom: 20px; 
}

.Lenguajes {
    position: relative;
    top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    border: 3px solid skyblue;
    border-radius: 10px;
    box-shadow: 0px 0px 10px skyblue; 
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(116, 113, 113, 0.2);
    width: 100%;
}

.Lenguajes h2 {
    font-family: 'Bebas_Neue';
    color: skyblue;
    text-align: center;
    text-shadow: 0px 0px 10px skyblue;
    margin-bottom: 40px;
}


.Lenguajes div{
    width: 100%;
    border: 3px solid skyblue;
    box-shadow: 0px 0px 10px skyblue;
    border-radius: 10px; 
}


.Lenguajes h3 {
    font-family: 'Bebas_Neue';
    color: skyblue;
    text-shadow: 0px 0px 10px skyblue;
    margin-bottom: 20px;
}

.Lenguajes p {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.Lenguajes a img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.Lenguajes a img:hover {
    transform: scale(1.2);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px;
}


.contact-form-container {
    background-color: rgba(116, 113, 113, 0.2);
    padding: 40px;
    border-radius: 10px;
    border: 3px solid skyblue;
    box-shadow: 0px 0px 15px skyblue;
    width: 80%;
    max-width: 600px;
    margin: 50px auto; 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
}

/* Estilo del título del formulario */
.contact-form-container h2 {
    font-family: 'Bebas_Neue';
    color: skyblue;
    text-align: center;
    text-shadow: 0px 0px 10px skyblue;
    margin-bottom: 30px;
}

/* Estilos para cada grupo de campo de formulario */
.form-group {
    margin-bottom: 20px;
}

/* Estilo de etiquetas (Nombre, Correo Electrónico, Mensaje) */
.form-group label {
    font-family: 'Bebas_Neue';
    color: skyblue;
    text-shadow: 0px 0px 5px skyblue;
    display: block;
    margin-bottom: 10px;
}


#contact-form button[type="submit"] {
    background-color: skyblue;
    color: #000b2e;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Bebas_Neue';
    box-shadow: 0px 0px 10px skyblue;
    width: 150px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: 1s;
}

#contact-form button[type="submit"]:hover {
    background-color: #000b2e;
    color: skyblue;
    box-shadow: 0px 0px 20px skyblue;
    width: 160px;
    height: 60px;
    font-size: 18px;
    border: 2px solid skyblue;
}

/* Estilos de los campos de entrada (input y textarea) */
#contact-form input, #contact-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid skyblue;
    background-color: rgba(255, 255, 255, 0.2); /* Fondo translúcido */
    color: white;
    font-family: 'Orbitron';
    box-shadow: 0px 0px 10px skyblue;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Efecto hover en los campos de entrada */
#contact-form input:focus, #contact-form textarea:focus {
    background-color: rgba(255, 255, 255, 0.5); 
    transform: scale(1.05); 
}


.redes-sociales h3{
    font-family: "Bebas_Neue";
    color: skyblue;
}

.redes-sociales img:hover {
    transform: scale(1.2);
    transition: 0.6s;
}

.tituloP{
    font-family: 'Bebas_Neue';
    color: skyblue;
    margin-bottom: 30px;
}

.proyectos {
    display: grid;
    grid-template-columns: repeat(2, 500px); /* Dos columnas */
    grid-template-rows: repeat(2, 350px);
    justify-content: center; /* Dos filas */
    align-items: center;/* Centra las imágenes verticalmente */
}

.proyectos div {
    width: 100%; /* Ajusta el tamaño del contenedor para que las imágenes sean más pequeñas */
    height: 100%; /* Ajusta el tamaño del contenedor para que las imágenes sean más pequeñas */
}

.proyectos img {
    width: 90%;
    height: 90%;
    object-fit: cover; /* Asegura que las imágenes se ajusten dentro de los contenedores */
    border-radius: 10px; /* Un pequeño borde redondeado, opcional */
    transition: transform 0.3s ease;
}

.proyectos img:hover {
    transform: scale(1.09); /* Efecto de zoom al pasar el ratón por encima */
}

.reveal {
    transform: translateY(50px);
    opacity: 0;
    transition: opacity 0.6s ease, transform 0.6s ease;
    position: relative; 
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}





@media only screen and (max-device-width: 960px){
    #menu{
        justify-content: center;
        text-align: left;
    }

    .grid-container {
        grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
    }

    .foto{
        width: 50%;
        height: 50%;
        position: relative;
        left: 11px;
    }

    .sobre-mi{
        font-size: 15px;
        position: relative;
        left: 11px;
    }

    .Saludo{
        font-size: 20px;
        position: relative;
        left: 11px;
    }

    .video-container{
        height: 710%;
        width: 105%;
    }

    .proyectos{
        grid-template-columns: repeat(2, 210px); /* Dos columnas */
        grid-template-rows: repeat(2, 125px);
    }

    .proyectos img{
        position: relative;
        left: 20px;
    }

    .tituloP{
        position: relative;
        left: 10px;
    }

    .redes-sociales{
        position: relative;
        left: 15px;
    }
    .contact-form-container {
        position: relative;
        left: 12px;
    }

    .Lenguajes{
        position: relative;
        left: 12px;
    }

    .work-card{
        position: relative;
        left: 11px;
    }

    #profesional h2{
        position: relative;
        left: 11px;
    }

    .education-card{
        position: relative;
        left: 12px;
    }

    #mi h2{
        position: relative;
        left: 12px;
    }

}












