@font-face{
    font-family: "Cormorant Garamond";
    src: url("../Fuentes/Cormorant-Garamond/CormorantGaramond-MediumItalic.ttf")
}

@font-face {
    font-family: "Bebas Neue";
    src: url("../Fuentes/Bebas_Neue/BebasNeue-Regular.ttf");
}

html body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
h1{
    color: #ffff;
    padding-left: 10px;
    font-family: "Bebas Neue";
}
h2{
    color: #ffff;
    padding-left: 10px;
    font-family: "Bebas Neue";
}
h3{
    color: #ffff;
    padding-left: 10px;
    font-family: "Bebas Neue";
}
p{
    color: #ffff;
    font-size: 20px;
    padding-left: 20px;
    font-family: "Cormorant Garamond";
}
button{
    border-radius: 50px;
    background-color: black;
    color: #ffff;
    padding: 10px;
    border:1px solid;
    text-decoration: none;
}

button:hover{
    border-radius: 50px;
    background-color: crimson;
    color: #ffff;
    padding: 10px;
    border:1px solid;
    text-transform: uppercase;
    text-decoration: none;
}

#cv{
    width:400px;
    height:400px;
    float: left;
}

.btnPrincipal{
    position:relative;
    top: 180px;
    display: block;
    padding: 0.5rem 1rem;
    width: 300px;
    margin: 0 auto;
}

.tituloPrincipal{
    text-decoration: underline;
    text-align: center;
}

.parrafoPrincipal{
    position: relative;
    left: 30px;
}

.subP{
    text-align: center;
    position: relative;
    top: 50px;
    font-size:38px;
}

.subsuP{
    text-align: center;
    position: relative;
    top: 80px; 
}

.f{
    text-align: center;
    position: relative;
    top: 100px;
    font-size: 30px;
    font-family: "Bebas Neue";
}

.principal{
    width: 100%;
    height: 1000px;
    background: rgb(0,0,0);
}


.tituloPresentacion{
    text-decoration: underline;
}

.btnPresentacion{
    position: relative;
    top: 50px;
    display: block;
    padding: 0.5rem 1rem;
    width: 300px;
    margin: 0 auto;
}

.presentacion{
    width: 100%;
    height: 1000px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 80%, rgba(171,41,12,1) 100%);
}


.tituloPrimaria{
    text-decoration: underline;
}

.tituloSecundaria{
    text-decoration: underline;
}

.V{
    position:relative;
    top: 60px;
    left: 20px;
    width:120px;
}

.S{
    position:relative;
    top: 60px;
    left: 1250px;
    width: 120px;
}

.PreFacultad{
    width: 100%;
    height: 1600px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 60%, rgb(174, 50, 23) 100%);
}

.tituloPrimer{
    text-decoration: underline;
}

.tituloSegundo{
    text-decoration: underline;
}

.tituloTercer{
    text-decoration: underline;
}

.tituloTesis{
    text-decoration: underline;
}

.facultad{
    width: 100%;
    height: 3330px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 40%, rgba(174,50, 23) 100%);
}

.tituloObtencion{
    text-decoration: underline;
}

.tituloCoder{
    text-decoration: underline;
}

.tituloActualidad{
    text-decoration: underline;
}

.PostFacultad{
    width: 100%;
    height: 1400px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 40%, rgba(174,50,23) 100%);
}

.misMetas{
    text-decoration: underline;
}

.listaMetas{
    font-size: 20px;
    color: #766580;
    font-family: "Bebas Neue";
}

.metas{
    width: 100%;
    height: 750px;
    background: rgb(0,0,0);
}

.Gracias{
    text-decoration: underline;
}

.Saludos{
    font-size: 25px;
    font-family: "Cormorant Garamond";
}

.agradecimientos{
    width: 100%;
    height: 750px;
    background: rgb(0,0,0);
}


